<div class='c_lightgrey center'>Review</div>

<form [formGroup]="form" (ngSubmit)='action(form ,0, C.URL_SAVE_REVIEW)' >
	<dl>
		<dt>Rating (anything other than 5 means you are somewhat unsatisfied) </dt>
		<dd>
			<label><input formControlName='rating' type="radio"  [value]='1' required />1</label> 
			<label><input formControlName='rating' type="radio"  [value]='2' required />2</label> 
			<label><input formControlName='rating' type="radio"  [value]='3' required />3</label> 
			<label><input formControlName='rating' type="radio"  [value]='4' required />4</label> 
			<label><input formControlName='rating' type="radio"  [value]='5' required />5 satisfied</label> 
			<span class="validity"></span>
		<dd>
	</dl>
	Review <br/>
	<textarea class=review formControlName='review' required  
			placeholder='Your opinion counts'>
	</textarea>
	<span class="validity"></span>
	<br/>
	<button type=submit  [disabled]='form.invalid'>Save Rating and Review</button>
</form>
<div *ngIf='error_msg!=null'    class=error [innerHTML]='error_msg'></div>
<div *ngIf='warning_msg!=null'  class=warning [innerHTML]='warning_msg'></div>
<div *ngIf='info_msg!=null'     class=info [innerHTML]='info_msg'></div>
