<div  class="topnav" tabindex="-1"  id="topnav"	(mouseleave)='show_nav=false'  >
	<div id=navicon type=button (click)="toggle()" 
	>&nbsp;&#9776;&nbsp; </div>
	<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
	<div *ngIf='warning_msg!=null' class='fade warning'>{{warning_msg}}</div>
	<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>

	<ul id=nav class="nav" *ngIf="show_nav"  >
		<a routerLink='/map/quick_search' 		
			routerLinkActive='active' 
			(click)="nav_menu_off(); map_search_start()">
			<li>
				Quick Search
			</li>			
		</a>
		<a routerLink='/Trip/form_search' 	
			routerLinkActive='active' 
			(click)="nav_menu_off(); map_search_stop()"	>
			<li>
				Refine Search
			</li>			
		</a>
		<a routerLink='/map/search' 		
			routerLinkActive='active' 
			(click)="nav_menu_off(); map_search_start()">
			<li>
				Search on Map
			</li>			
		</a>
		<a routerLink='/show_search_result' 		
			routerLinkActive='active' 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				List Search Results
			</li>			
		</a>
		<a routerLink='/Trip/form_trip' 		
			routerLinkActive='active' 	
			*ngIf="is_signed_in" 
			(click)="nav_menu_off();map_search_stop()">
			<li>
				Post My Trip		
			</li>			
		</a>
		<a routerLink='/Activity'	
			routerLinkActive='active' 	
			*ngIf="is_signed_in"	 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				My Activities	
			</li>			
		</a>
		<a routerLink='/Thist' 		
			routerLinkActive='active'	
			*ngIf="is_signed_in" 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				Transaction History
			</li>			
		</a>
		<a routerLink='/Profile'	
			routerLinkActive='active'	
			*ngIf="is_signed_in" 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				My Profile
			</li>			
		</a>
		<a routerLink='/Deposit' 	
			routerLinkActive='active '		 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				Deposit
			</li>			
		</a>
		<a routerLink='/Withdraw' 	
			routerLinkActive='active '		 
			(click)="nav_menu_off(); map_search_stop()">
			<li>
				Withdraw	
			</li>			
		</a>
		<a routerLink='/misc' 	
			routerLinkActive='active '		 
			(click)="nav_menu_off()">
			<li>
				Legal Stuff
			</li>			
		</a>

        <a *ngIf='!is_signed_in' onclick='ride.signin()' (click)="nav_menu_off()"> 
			<li>
				<img id='linkedin_signin' src="assets/images/Sign-In-Small---Default.png" 
					alt="Sign in with LinkedIn" >
			</li>			
		</a>
        <a *ngIf='is_signed_in' onclick='ride.signout()' (click)="nav_menu_off()" >
			<li>
				Signout
			</li>			
		</a>
	</ul>
</div>
