<div *ngIf="false"> https://material.angular.io/components/menu/overview </div>
<div class=hide-unhide>
	<button (click)='show_map()' *ngIf='show_body==C.BODY_SHOW' > Map 
		{{C.ICON_ARROW_DOWN}}
	</button>
	<button (click)='show_body=C.BODY_SHOW'   *ngIf='show_body==C.BODY_NOSHOW' > Map
		{{C.ICON_ARROW_UP}} 
	</button>
</div>

<div class="title" *ngIf='form_key==C.KEY_FORM_TRIP' >Post My Trip</div>
<div class="title" *ngIf='form_key==C.KEY_FORM_SEARCH' >Search Settings</div>
<div class={{show_body}} >
	<div class=center>
		<div *ngIf='error_msg'      	class=error 	[innerHTML]='error_msg' ></div>
		<div *ngIf='info_msg'      		class='info' 	[innerHTML]='info_msg' ></div>
		<div *ngIf='warning_msg'		class='warning' [innerHTML]='warning_msg' ></div>
		<div *ngIf='validation_error'	class='warning' [innerHTML]='validation_error' ></div>
	</div>

	<form [formGroup]="form" (ngSubmit)="onSubmit()" >
		<p>
		<div class='detail center'>
			I am &nbsp;  
            <mat-radio-group  formControlName='rider_ind'>
                <mat-radio-button color=primary [value]=false> Driver&nbsp; &nbsp; &nbsp; 
				</mat-radio-button>
                <mat-radio-button color=primary [value]=true > Rider </mat-radio-button>
           </mat-radio-group>

		</div>
		<p>
		<div class=detail>
			{{from}}
			<span class='clickable-text button' (click)='current_location()' style='float:right'>
				Current Location
			</span>
			<div *ngIf='current_location_msg'    class='warning' [innerHTML]='current_location_msg' ></div>
			<dd>
			
	   			<input  type="text"  id="p1_loc" formControlName="p1_loc" 
					placeholder="From" required
					pattern=".{3,}"
				/>
			</dd>

	  		<dd  class="f08 clickable-text" (click)='populate_p1()'> 
				 {{trip.p1.display_name}}
			</dd>
		</div>
		<p>
		<div class=detail>
			{{to}} &nbsp;
			<span class='clickable-text button' (click)='switch_loc()' style='float:right'
					[innerHTML]='C.ICON_UPDOWN_ARROW'></span>
	  		<dd>
				<span>
	   				<input  type="text"  id="p2_loc" formControlName="p2_loc" 
						placeholder="To" required
						pattern=".{3,}"
					/>
				</span>
			</dd>
			<dd class="f08 clickable-text" (click)='populate_p2()'>
				{{trip.p2.display_name	}}
			</dd>
			<p>
			Distance (miles): 
			<span *ngIf="trip.distance==C.ERROR_NO_ROUTE " class=warning>No route</span>
			<span *ngIf="trip.distance!=C.ERROR_NO_ROUTE "	   >{{trip.distance}}</span>
		</div>
		<div class=center>
        	<button type="submit" *ngIf='form_key==C.KEY_FORM_SEARCH' [disabled]="validation_error" >
            	Search 
        	</button>
		</div>
		<p>
		<div class='detail center'>
		<table class='center no_border' *ngIf='form_key==C.KEY_FORM_TRIP'>
			<tr>
				<td>
					Trip Date
				</td>
				<td>
					Departure Time
				</td>
			</tr>
			<tr>
				<td>
					<input type="date" formControlName="trip_date" *ngIf='form_key==C.KEY_FORM_TRIP'
						pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min={{today}}  max={{max_date}}
						required 
					/>
				</td>
				<td>
					<input type="time" formControlName="trip_time" step="60" 
						required />
				</td>
			</tr>
		</table>
		<table class='center no_border' *ngIf='form_key==C.KEY_FORM_SEARCH'>
			<tr>
				<td>
					Dates between
				</td>
				<td>
					and	
				</td>
			</tr>
			<tr>
				<td>
					<input type="date" formControlName="date1" 
						pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min={{today}}  max={{max_date}}
						required 
					/>
				</td>
				<td>
					<input type="date" formControlName="date2" 
						pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min={{this.form.value.date1}}  
						required 
					/>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>
					Departure Time
				</td>
				<td>
					<input type="time" formControlName="trip_time" step="60" />
				</td>
			</tr>
		</table>
		<p>

					Or in 
            <mat-radio-group  >
                <mat-radio-button color=primary [value]=5 (click)='set_time(5)'>5 &nbsp;  </mat-radio-button>
                <mat-radio-button color=primary [value]=10 (click)='set_time(10)'>10 &nbsp;  </mat-radio-button>
                <mat-radio-button color=primary [value]=15 (click)='set_time(15)'>15 &nbsp;  </mat-radio-button>
                <mat-radio-button color=primary [value]=30 (click)='set_time(30)'>30 minutes</mat-radio-button>
            </mat-radio-group>

		</div>
		<p>
		<div class='detail center'>
			<table class='center no_border'>
				<tr>
					<td>
			<span *ngIf='!this.form.value.rider_ind'>Available Seats: </span>
			<span *ngIf='this.form.value.rider_ind' >Requested Seats: </span>
					</td>
					<!--td>
				<input type="range" formControlName="seats" value="{{form.value.seats}}"  
					min="1" max="{{C.MAX_SEATS}}" step=1 /> 
					</td-->
					<td>
  						<select matNativeControl formControlName="seats" required>
    						<option value="1">1</option>
    						<option value="2">2</option>
    						<option value="3">3</option>
    						<option value="4">4</option>
    						<option value="5">5</option>
    						<option value="6">6</option>
  						</select>
					</td>
				</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
				<tr>
					<td>
			Price: 
				${{this.form.value.price}} 
					</td>
					<td>
				<input type="range" formControlName="price" value="0" step=0.01 min="0" 
					max="{{max_price}}"  required
				/>
					</td>
				</tr>
			</table>
				per mile per passenger.
			<div *ngIf='this.form.value.rider_ind && this.form_key==C.KEY_FORM_TRIP'> Estimated cost: 
					$ {{this.estimate_cost()}}
			</div>
		</div>
		<p>
		<dl *ngIf='form_key==C.KEY_FORM_TRIP' class=detail>
	  		<dt>Description</dt>
	  		<dd >
				<textarea id="description" formControlName=description 
					placeholder="For example, non-smoking, female only, flexible time, flexible pickup,etc" >
					{{form.value.description}} 
				</textarea>
	  		</dd>
		</dl>
		<dl *ngIf='false && form_key==C.KEY_FORM_SEARCH' class=detail>
            You can reduce number of search results by narrowing down searches.
            <dt><label for="seats">Narrowing Level: {{this.form.value.search_tightness}}  </label></dt>
            <dd>
            wide <input type="range" formControlName="search_tightness" 
				min="0" max="{{C.MAX_SEARCH_TIGHTNESS}}" step=1 /> narrow
            </dd>

        </dl>
		<div *ngIf='error_msg'      class=error 	[innerHTML]='error_msg' ></div>
		<div *ngIf='info_msg'       class='info' 	[innerHTML]='info_msg' ></div>
		<div *ngIf='warning_msg'    class='warning' [innerHTML]='warning_msg' ></div>
		<div *ngIf='validation_error'    class='warning' [innerHTML]='validation_error' ></div>

		<div class=center>
		<button  type="submit" [disabled]="validation_error" *ngIf='form_key==C.KEY_FORM_TRIP' >
			{{button_label}}
		</button>
        <button type="submit" *ngIf='form_key==C.KEY_FORM_SEARCH' [disabled]="validation_error" >
            Search 
        </button>
		</div>


      </form>
</div>
