<div>
	<div class="center f15"  >Deposit Money</div>
	<p>
	Deposit and withdraw are done through the Zelle network, offered by many banks, such as
	Chase Bank's QuickPay with Zelle, as well as Bank of America, US Bank, PNC Bank
	, and other major banks.

	<p>
	Normally it takes a few seconds for our bank to notify us the deposit.
	<div *ngIf='show_detail'>
		Your Deposit Identification Number is 
		<p>
		<div class="center f12 warning" >RD{{user_from_db.deposit_id}}</div>
		<p>
		It will identify who sends money to us.
		<p>
		To deposit money into your account, <br/>
		<ol>
			<li> 	
				send money to <br/>
				<div class='center f12 warning'>{{Constants.EMAIL_DEPOSIT}}</div>
				through your bank and
			</li>
			<li>you MUST put your Deposit Identification Number in the 
				memo field when you send money through your bank.</li>
		</ol> 
		Once we receive your deposit, it will be reflected in your account balance. <br/>
		To book a trip, you must have a positive balance to cover the cost of the trip.
		<p>
	
		Trial Deposit <br/>
		You may want to deposit a very small amount of money, a few cents, for instance, to make sure 
		your money deposit performs correctly.
	</div>
	<div *ngIf='!show_detail'>
		Once you sign in, you will see more information about deposit.
	</div>
</div>
<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
<div class=warning *ngIf='false'>change_detect_count={{change_detect_counter()}}</div>
