<div class=detail>
<div class="title">Withdraw</div>
<p>
Deposit and withdraw are done through the Zelle network, offered by many banks, such as
Chase Bank's QuickPay with Zelle, as well as Bank of America, 
US Bank, PNC Bank, and other major banks.
<p>
You must have an email address registered at your bank to receive money.
<p>
</div>
<p>
<div class=detail>
<div class="title">Withdraw Request</div>
<form  *ngIf='is_signed_in' [formGroup]="form" (ngSubmit)="onSubmit()">
	<table class='no_border center'>
		<tr>
			<td>
				Name:
			</td>
			<td>
				{{user_from_db.first_name}} {{user_from_db.last_name}}
			</td>
		</tr>
		<tr>
			<td>
				Current Balance:
			</td>
			<td>
				${{user_from_db.balance}} 
			</td>
		</tr>
		<tr>
			<td>
				Amount to withdraw: &nbsp;
			</td>
			<td>
				The entire balance
			</td>
		</tr>
		<tr>
			<td colspan=2>
				&nbsp;
			</td>
		</tr>
		<tr>
			<td colspan=2>
				Email registered at you bank (required) 
			</td>
		</tr>
		<tr>
			<td colspan=2>
					<input  type="email"  formControlName="bank_email" required 
						pattern="{{C.EMAIL_PATTERN}}" [readonly]='saved'
					/> 
					<span class="validity"></span>
			</td>
		</tr>
	</table>
	<div class=center *ngIf='!saved'>
		<button type="submit" [disabled]="!button_enabled" >Send Request</button>
	</div>
</form>
	<div class=center>
	<div *ngIf='error_msg!=null' class=error [innerHTML]='error_msg' ></div>
	<div *ngIf='warning_msg!=null' class=warning [innerHTML]='warning_msg'></div>
	<div *ngIf='info_msg!=null' class=info [innerHTML]='info_msg' ></div>
	</div>
&nbsp;
</div>
