<div *ngIf='error_msg!=null'    class=error [innerHTML]='error_msg'></div>
<div *ngIf='warning_msg!=null'  class=warning [innerHTML]='warning_msg'></div>
<div *ngIf='info_msg!=null'     class=info [innerHTML]='info_msg'></div>

<div class=warning *ngIf='false'>change_detect_count={{change_detect_counter()}}</div>
<table class=center>
	<thead>
		<tr >
			<th>Date</th>
			<th>Credit</th>
			<th>Debit</th>
			<th>Balance</th>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let tran of tran_from_db ;let i=index;
			let even=even;let odd=odd; let first = first; let last = last; trackBy:trackByFunc"
			[ngClass]="{ odd: odd, even: even }">
			<td>{{tran.date.slice(0,10)}} </td>
			<td> 
				<span *ngIf='tran.actual_amount > 0' > {{tran.actual_amount}}</span>
				<span *ngIf='tran.actual_amount ==null && tran.requested_amount> 0' > 
					{{tran.requested_amount}} 
				</span>
			</td>
			<td>
				<span *ngIf='tran.actual_amount < 0' > {{-tran.actual_amount}}</span>
				<span *ngIf='tran.actual_amount ==null && tran.requested_amount< 0' > 
						{{-tran.requested_amount}}
				</span>
			</td>
			<td>
				{{tran.balance}}
			</td>
			<td>{{tran.description}} 
				<span *ngIf='tran.actual_amount ==null && tran.requested_amount ' >
					<br/>Pending
				</span>
			</td>
		</tr>
	</tbody>
</table>
