<div class='title'>Search Results</div>
	<div *ngIf='error_msg!=null' 	class=error [innerHTML]='error_msg'></div>
	<div *ngIf='warning_msg!=null' 	class=warning [innerHTML]='warning_msg'></div>
	<div *ngIf='info_msg!=null' 	class=info [innerHTML]='info_msg'></div>

<div *ngFor="let trip of trips_from_db ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:trackByFunc"
		[ngClass]="{ odd: odd, even: even }">
	<div class=detail>
      	<table class=center>
			<thead>
				<tr >
					<th>#</th>
					<th>Date/Time</th>
					<th>Seats</th>
					<th *ngIf='trip.trip.rider_ind'>Earning</th>
					<th *ngIf='!trip.trip.rider_ind &&  trip.enough_info'>Price</th>
					<th *ngIf='!trip.trip.rider_ind && !trip.enough_info '>Price<br/>/mile</th>
					<th *ngIf='is_signed_in'>I Booked</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{i+1}}</td>
					<td>{{trip.trip.trip_date}}<br/>
					{{trip.trip.trip_time}}</td>

					<td *ngIf='trip.enough_info'>{{trip.seats_to_book}}</td>
					<td *ngIf='!trip.enough_info'>{{trip.trip.seats}}</td>

					<td *ngIf='trip.trip.rider_ind'>${{trip.cost.cost_driver}} </td>
					<td *ngIf='!trip.trip.rider_ind &&  trip.enough_info'>${{trip.cost.cost_rider}} </td>
					<td *ngIf='!trip.trip.rider_ind && !trip.enough_info'>${{trip.cost.price_rider}} </td>
					<td *ngIf='is_signed_in'>{{trip.seats_booked}}</td>
					<td>
						<button #j (click)="book(trip, i)"
							[disabled]='!trip.show_book_button'
						>Book it</button>
					</td>
				</tr>
			</tbody>
		</table>

		<div class=center>
			<div *ngIf='trip.error_msg'		class=error 	[innerHTML]='trip.error_msg'	></div>
			<div *ngIf='trip.warning_msg'	class=warning 	[innerHTML]='trip.warning_msg'	></div>
			<div *ngIf='trip.info_msg'		class=info 		[innerHTML]='trip.info_msg'		></div>
		</div>
		<div class='stitle' >
			<span *ngIf=' trip.trip.rider_ind' > Passenger </span>
			<span *ngIf='!trip.trip.rider_ind' > Driver </span>
			<span class='clickable-text star' [innerHTML]='trip.stars' 
				(click)='show_reviews(trip.trip.usr_id)'> 
			</span>
		</div>
		{{trip.headline}}<br/>
		<span class=warning>{{trip.profile_available}}</span>
		<div (click)='show_map(i)' class='from clickable-text' >
			<span *ngIf=' trip.trip.rider_ind' > Passenger Pickup </span>
			<span *ngIf='!trip.trip.rider_ind' > Driver from  </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{trip.trip.p1.display_name}}
		<div (click)='show_map(i)' class='to clickable-text' >
			<span *ngIf=' trip.trip.rider_ind' > Passenger Dropoff </span>
			<span *ngIf='!trip.trip.rider_ind' > Driver to  </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{trip.trip.p2.display_name}}<br/>
		<span class='f08 button clickable-text' [innerHTML]="trip.google_map_url"></span>
		<div class='stitle' *ngIf="trip.trip.description" >Description</div>
 		<div class=data [innerHTML]="trip.trip.description" *ngIf="trip.trip.description" ></div>
		<p>
	</div>
	<p>&nbsp;<p>
</div>
