<div class="title">Transaction History</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<table class=no_border>
		<tr>
			<td>
				From
			</td>
			<td>
				To
			</td>
		</tr>
		<tr>
			<td>
				<input  type="date"  formControlName="date1" (change)='onChange()' />
			</td>
			<td>
				<input  type="date" formControlName="date2" [min]='form.value.date1'
					(change)='onChange()'
				/>
				<span class="validity"></span>
			</td>
		</tr>
	</table>

<div *ngIf='error_msg!=null'    class=error [innerHTML]='error_msg'></div>
<div *ngIf='warning_msg!=null'  class=warning [innerHTML]='warning_msg'></div>
<div *ngIf='info_msg!=null'     class=info [innerHTML]='info_msg'></div>
	Show history for 
	<table class='no_border center'>
		<tr>
			<td>
	<mat-checkbox  formControlName='show_booking' labelPosition="after" color=primary
                (change)='on_filter()'> Booking
	</mat-checkbox> <br/>
			</td>
			<td>
	<mat-checkbox  formControlName='show_return' labelPosition="after" color=primary
                (change)='on_filter()'> Return
	</mat-checkbox> <br/>
			</td>
			<td>
	<mat-checkbox  formControlName='show_penalty' labelPosition="after" color=primary
                (change)='on_filter()'> Penalty
	</mat-checkbox> <br/>
			</td>
		</tr>
		<tr>
			<td>
	<mat-checkbox  formControlName='show_earning' labelPosition="after" color=primary
                (change)='on_filter()'> Earning
	</mat-checkbox> <br/>
			</td>
			<td>
	<mat-checkbox  formControlName='show_deposit' labelPosition="after" color=primary
                (change)='on_filter()'> Deposit
	</mat-checkbox> <br/>
			</td>
			<td>
	<mat-checkbox  formControlName='show_withdraw' labelPosition="after" color=primary
                (change)='on_filter()'> Withdraw
	</mat-checkbox> <br/>
			</td>
		</tr>
		<tr>
		</tr>
	</table>





</form>
<app-thistlist *ngIf='trans_to_show.length!=0' [tran_from_db]="trans_to_show" > 
</app-thistlist>

