<div class=detail>
	<form [formGroup]="form"  >
	<table class=center>
		<thead>
			<tr >
					<th>#</th>
					<th>Date/Time</th>
					<th *ngIf='!bb' >Seats</th>
					<th *ngIf='!bb' >Price($/mile)</th>
					<th *ngIf='bb'  >Booked</th>
					<th *ngIf='bb'  >Price($)</th>
					<th>Status</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>{{index+1}}<br/>
					<td>{{bt.trip_date}}<br/>
						{{bt.trip_time}}</td>
					<td *ngIf='! bb' > 
						{{form.value.seats}}<br/>
		<input class=zoom type="range" formControlName="seats" min="0" max="{{C.MAX_SEATS}}" step=1 />
					</td>
					<td *ngIf='! bb' > 
						{{form.value.price}}<br/>
		<input class=zoom type="range" formControlName="price" min="0" max="{{C.MAX_PRICE}}" step=0.01 />
					</td>
					<td *ngIf='bb'>{{b.seats}}</td>
					<td *ngIf='bb'>{{b.unified_cost}}</td>
					<td class='warning width05' >{{b.book_status_description}}</td>
				</tr>
		</tbody>
	</table>
	<div class=center>
    	<div *ngIf='error_msg'      class=error     [innerHTML]='error_msg' ></div>
    	<div *ngIf='info_msg'       class='info'    [innerHTML]='info_msg' ></div>
    	<div *ngIf='warning_msg'    class='warning' [innerHTML]='warning_msg' ></div>
	</div>
	<div class=center>
		<button *ngIf='b.show_review_button'
			(click)="review(null, i, null)">
			Review
			<span *ngIf='b.show_review_panel' > &#xfe3f;</span>
			<span *ngIf='!b.show_review_panel' > &#xfe40;</span>
		</button>
		<button *ngIf='b.show_msg_button'
			(click)="message(null, i, null)">
			Chat
			<span *ngIf='b.show_messaging_panel' > &#xfe3f;</span>
			<span *ngIf='!b.show_messaging_panel' > &#xfe40;</span>
		</button>
		<button (click)="update()" *ngIf='b.show_update_button' >Update seats and price </button>
		<button (click)="action(C.URL_DELETE)" *ngIf='b.show_delete_button' >Delete </button>
		<button *ngIf='b.show_confirm_button' (click)="action(C.URL_CONFIRM)">Confirm </button>
		<button *ngIf='b.show_reject_button' (click)="action(C.URL_CANCEL)">Reject </button>
		<button *ngIf='b.show_cancel_button' (click)="action(C.URL_CANCEL)">Cancel </button>
		<button *ngIf='b.show_finish_button' (click)="action(C.URL_FINISH)">Finish </button>
	</div>
	<app-message *ngIf='b.show_messaging_panel'
                        [book_id]="bb.book_id"
                        [index]="index"
                        >
	</app-message>
	<app-review *ngIf='b.show_review_panel'
                        [book_id]="bb.book_id"
                        [index]="index"
                        >
	</app-review>
<p>
	<div *ngIf='bb'>
		<div class='stitle'>
			<span *ngIf=' b.is_rider' > Driver </span>
			<span *ngIf='!b.is_rider' > Passenger </span>
			<span class='clickable-text star' 
				[innerHTML]='b.stars'
				(click)='show_reviews(b.other_usr_id)'
				>
			</span>
		</div>
		{{b.headline}} <br/>
 		<span class=warning *ngIf='!(b.sm_link)'>
			LinkedIn profile opted out
		</span> 
 		<span class='button clickable-text'  *ngIf='b.sm_link'>
			<a [href]='b.sm_link' target=_blank>LinkedIn Profile</a>
		</span>
	</div>

	<div *ngIf='b.is_booker'>
		<div class='clickable-text from' (click)='geo_mark(i)'> 
			<span *ngIf=' bt.rider_ind'>Passenger Pickup </span>
			<span *ngIf='!bt.rider_ind'>Driver from </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{bt.p1.display_name}}
		<div class='clickable-text to' (click)='geo_mark(i)'> 
			<span *ngIf=' bt.rider_ind'>Passenger Dropoff </span>
			<span *ngIf='!bt.rider_ind'>Driver to </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{bt.p2.display_name}}
	</div>
	<div *ngIf='!b.is_booker && bb'>
		<div class='clickable-text from' (click)='geo_mark(i)'> 
			<span *ngIf='!bt.rider_ind'> Passenger Pickup </span>
			<span *ngIf=' bt.rider_ind'> Driver from</span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{bb.p1.display_name}}
		<div *ngIf='bb.p2.display_name'> 
			<div class='clickable-text to' (click)='geo_mark(i)' >
				<span *ngIf='!bt.rider_ind'> Passenger Dropoff </span>
				<span *ngIf=' bt.rider_ind'> Driver to</span>
				<span class='clickable-text map_clickable'>map</span>
			</div>
			{{bb.p2.display_name}}
		</div>
	</div>

	<div *ngIf='!b.is_booker && !bb'>
		<div class='clickable-text from' (click)='geo_mark(i)'> 
			<span *ngIf=' bt.rider_ind'> Passenger (me) Pickup </span>
			<span *ngIf='!bt.rider_ind'> Driver (me) from </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{bt.p1.display_name}}
		<div class='clickable-text to' (click)='geo_mark(i)'> 
			<span *ngIf=' bt.rider_ind'> Passenger (me) Dropoff </span>
			<span *ngIf='!bt.rider_ind'> Driver (me) to </span>
			<span class='clickable-text map_clickable'>map</span>
		</div>
		{{bt.p2.display_name}}
	</div>

	<span class='button clickable-text' [innerHTML]="b.google_map_url"></span>
	<div *ngIf='bt.description'>
		<div class='stitle' >Description</div>
		<div class=data [innerHTML]="bt.description"></div>
	</div>
</form>
</div>
<p>&nbsp;<p>
