<p>
<p>
<div class=centerFlex>
<table class=no_border>
	<tr class=no_border>
		<td class=no_border><p><div class='f12 flash'>Rideshare Made Easy</div><p></td>
		<td class='no_border flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
	</tr>
	<tr class=no_border>
		<td class=no_border><p><div class='f12 flash'>Riders Seeking Drivers</div><p></td>
		<td class='no_border flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
	</tr>
	<tr class=no_border>
		<td class=no_border><p><div class='f12 flash'>Drivers Seeking Riders</div><p></td>
		<td  class='no_border flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
	</tr>
	<tr class=no_border>
		<td class=no_border><p><div class='f12 flash'>Post Your Own Trip !</div><p></td>
		<td  class='no_border flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
	</tr>
</table>
<p>
<div class='flash clickable-text' >Start Here</div>
</div>

