<p>
<p>
<div class='centerFlex f12'>
		<span >
			<img class='ride_icon' src='assets/images/ride-icon.svg' />
		</span>
		<p>
		<span class='f15 flash clickable-text' (click)='start()'>
			Start Here
		</span>
	<table class=no_border>
		<tr >
			<td class=' flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
			<td >
				<div class=flash_inv>
					Riders Seeking Drivers
				</div>
			</td>
		</tr>
		<tr>
			<td  class=' flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
			<td ><div class=flash_inv>Drivers Seeking Riders</div></td>
		</tr>
		<tr >
			<td  class=' flash_check' [innerHTML]='C.ICON_CHECK_MARK'></td>
			<td ><div class=flash_inv>Post Your Own Trip !</div></td>
		</tr>
	</table>
	<p>
</div>

