<div class='centerFlex '>
	<a routerLink='/map/quick_search' routerLinkActive='active' >
		<span >
			<img class='ride_icon' src='assets/images/ride-icon.svg' />
		</span>
    </a>

	<div>A service to connect</div>
	<div>riders and drivers</div> 
	<div>for carpooling </div>
	<p>
		<a routerLink='/map/quick_search' routerLinkActive='active' >
			<div class='center clickable-text flash_inv'>
              		Qucik Search 
					<div class=f08>just let me see what's out there </div>
					<p>
			</div>
       	</a>

		<a routerLink='/Trip/form_search' routerLinkActive='active' >
			<div class=' center clickable-text flash_inv'>
               		Detailed Search <div class=f08>for Rider or Driver</div>
				<p>
			</div>
		</a>
		<a routerLink='/Trip/form_trip' routerLinkActive='active' >
					<div class='center clickable-text flash_inv'>
                		Post My Trip for Free
					</div>
   		</a>
		<div>
			Refer a friend and get
		</div>
		<div>
			up to 100% of the profit
		</div>
		<div>
			each and every time
		</div>
<div class=center>
       <div *ngIf='error_msg'      class=error     [innerHTML]='error_msg' ></div>
        <div *ngIf='info_msg'       class='info'    [innerHTML]='info_msg' ></div>
        <div *ngIf='warning_msg'    class='warning' [innerHTML]='warning_msg' ></div>
        <div *ngIf='validation_error'    class='warning' [innerHTML]='validation_error' ></div>
</div>
	<app-misc class=center></app-misc>
