<div class="center f12">My Activities</div>

<div class={{show_body}} >

<form [formGroup]="form" >
	<dl>
		<dt>
			<label for="date1">From: </label>
		</dt>
		<dd>
			<input type="date"	formControlName="date1" (change)='onChange()' />
		</dd>
		<dt>
			<label for="date2">To:</label>
		</dt>
		<dd>
			<input	type="date" formControlName="date2" min={{form.value.date1}}
				(change)='onChange()'
			/>
			<span class="validity"></span>
		</dd>
	</dl>
</form>
<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
<p>
<app-bookings *ngIf='bookings_from_db && bookings_from_db.length>0'
	[bookings_from_db]="bookings_from_db"
>

</app-bookings>
</div>

