<div class="title">My Activities</div>

<div class={{show_body}} >

<form [formGroup]="form" >
	<table class='no_border center'>
		<tr>
			<td>
				From
			</td>
			<td>
				To
			</td>
		</tr>
		<tr>
			<td>
				<input  type="date"  formControlName="date1" 
				/>
			</td>
			<td>
				<input  type="date" formControlName="date2" [min]='form.value.date1'
				/>
			</td>
		</tr>
	</table>
<p>
	<div class=center>
	<mat-radio-group >
		<mat-radio-button [value]=0  #days (click)='set_date(0)'> Today &nbsp; &nbsp; &nbsp;
		</mat-radio-button>
		<mat-radio-button [value]=6  #days (click)='set_date(6)'> Next 7 days </mat-radio-button>
	</mat-radio-group>
	</div>

	
</form>
<div class=center>
<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
</div>
<p>
<app-bookings *ngIf='bookings_from_db && bookings_from_db.length>0'
	[bookings_from_db]="bookings_from_db"
>

</app-bookings>
</div>

