<div class='title' >Chats</div>
<p>
<dl *ngFor="let msg of msgs_from_db ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:trackByFunc"
		[ngClass]="{ odd: odd, even: even }">
	<dt class='f08 stitle' >
		{{msg.user_is}} on {{C.up_to_minutes(msg.c_ts)}},  {{C.elapsed_time(msg.c_ts)}}
	</dt>
	<dd [innerHTML]='msg.msg'>
	</dd>
	<dd *ngIf='msg.google_map_string'>
		<span class='clickable-text button' [innerHTML]='msg.google_map_string'></span>
	</dd>
</dl>


<form [formGroup]="form" (ngSubmit)='true' *ngIf='book.status_cd=="C"'>
	<textarea formControlName=msg  > </textarea>
	<br/>
	<button type=button (click)="action(form.value ,0, C.URL_SAVE_MSG)">Send Chat</button>
	<button type=button (click)="at_pickup()">I'm at Pickup</button>
</form>
<div class=center>
	<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
	<div class=warning *ngIf='book.status_cd!="C"' >New chats are disabled</div>
	<div class=warning *ngIf='book.status_cd=="C"' >Note: Chat window will close automatically 
			{{C.MSG_NO_ACTIVITY_COUNT_DOWN}} seconds 
			after no activities. {{msg_no_activity_count_down}}</div>
	<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
	<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
</div>
