<form [formGroup]="form" >
	<table class='no_border center'>
		<tr>
			<td colspan=2>
            	Show activities when I am a 
			</td>
		</tr>
		<tr>
			<td >
 				<mat-checkbox  formControlName='show_driver' labelPosition="after" >
				Driver</mat-checkbox> &nbsp; &nbsp; &nbsp; &nbsp; 
			</td>

 			<td>
				<mat-checkbox  formControlName='show_rider' labelPosition="after" >
				Rider</mat-checkbox> 
            			
			</td>
		</tr>
		<tr>
			<td colspan=2>
       			Show activities when status is 
			</td>
		</tr>
		<tr>
			<td>
 				<mat-checkbox  formControlName='show_published' labelPosition="after" >
				Published</mat-checkbox> 
			</td>
			<td>
 				<mat-checkbox  formControlName='show_pending' labelPosition="after" >
				Pending Confirmation</mat-checkbox> <br/>
			</td>
		</tr>
		<tr>
			<td>
 				<mat-checkbox  formControlName='show_confirmed' labelPosition="after" >
				Confirmed</mat-checkbox> <br/>
			</td>
			<td>
 				<mat-checkbox  formControlName='show_cancelled_by_driver' labelPosition="after" >
				Cancelled by Driver</mat-checkbox> <br/>
			</td>
		</tr>
		<tr>
			<td>
 				<mat-checkbox  formControlName='show_rejected' labelPosition="after" >
				Rejected</mat-checkbox> <br/>
			</td>
			<td>
 				<mat-checkbox  formControlName='show_cancelled_by_rider' labelPosition="after" >
				Cancelled by Rider</mat-checkbox> <br/>
			</td>
		</tr>
		<tr>
			<td>
 				<mat-checkbox  formControlName='show_finished' labelPosition="after" >
				Finished</mat-checkbox> <br/>
			</td>
		</tr>
	</table>
</form>
<div class=center>
<div *ngIf='error_msg'      class=error     [innerHTML]='error_msg' ></div>
<div *ngIf='info_msg'       class='info'    [innerHTML]='info_msg' ></div>
<div *ngIf='warning_msg'    class='warning' [innerHTML]='warning_msg' ></div>
</div>


<div id=bookings>
<div  *ngFor="let booking of bookings_to_show ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:trackByFunc"
		[ngClass]="{ odd: odd, even: even }">
	
	<app-booking 		*ngIf='i >= page_pos-2 && i <= page_pos +2'
                        [booking_from_db]='booking'
                        [index]="i"
    > </app-booking>
</div>
</div>
