<form [formGroup]="form" >
   <dl>
        <dt>
            Show activities when I am a <br/>
        </dt>
        <dd>
            <label><input type=checkbox formControlName='show_driver'
                (change)='set_filter()' />Driver</label>
            <label><input type=checkbox formControlName='show_rider'
                (change)='set_filter()' />Rider</label>
        </dd>
        <dt>
            Show activities when status is <br/>
        </dt>
        <dd>
            <label><input type=checkbox formControlName='show_published'
                (change)='set_filter()' />Published</label><br/>
            <label><input type=checkbox formControlName='show_pending'
                (change)='set_filter()' />Pending Comfirmation</label><br/>
            <label><input type=checkbox formControlName='show_confirmed'
                (change)='set_filter()' />Confirmed</label><br/>
            <label><input type=checkbox formControlName='show_rejected'
                (change)='set_filter()' />Rejected</label><br/>
            <label><input type=checkbox formControlName='show_cancelled_by_driver'
                (change)='set_filter()' />Cancelled by Driver</label><br/>
            <label><input type=checkbox formControlName='show_cancelled_by_rider'
                (change)='set_filter()' />Cancelled by Rider</label><br/>
            <label><input type=checkbox formControlName='show_finished'
                (change)='set_filter()' />Finished</label>
        </dd>
    </dl>
</form>

<div *ngIf='error_msg!=null' class=error>{{error_msg}}</div>
<div *ngIf='warning_msg!=null' class=warning>{{warning_msg}}</div>
<div class=warning *ngIf='false'>change_detect_count={{change_detect_counter()}}</div>
<div *ngIf='info_msg!=null' class=info>{{info_msg}}</div>
<div *ngFor="let booking of forms ;let i=index;
		let even=even;let odd=odd; let first = first; let last = last; trackBy:trackByFunc"
		[ngClass]="{ odd: odd, even: even }">
	<form [formGroup]="booking" (ngSubmit)='onSubmit()'
		*ngIf='bookings_from_db[i].show_booking'>
      	<table>
		<thead>
			<tr >
				<th>#</th>
				<th>Date/Time</th>
				<th *ngIf='!bookings_from_db[i].book' >Seats</th>
				<th *ngIf='!bookings_from_db[i].book' >Price($/mile)</th>
				<th *ngIf='bookings_from_db[i].book'  >Booked</th>
				<th *ngIf='bookings_from_db[i].book'  >Price($)</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{i+1}}<br/>
				<td>{{bookings_from_db[i].trip.trip_date}}<br/>
					{{bookings_from_db[i].trip.trip_time}}</td>
				<td *ngIf='! bookings_from_db[i].book' > 
					{{booking.value.seats}}<br/>
	<input class=zoom type="range" formControlName="seats" min="0" max="{{C.MAX_SEATS}}" step=1 />
				</td>
				<td *ngIf='! bookings_from_db[i].book' > 
					{{booking.value.price}}<br/>
	<input class=zoom type="range" formControlName="price" min="0" max="{{C.MAX_PRICE}}" step=0.01 />
				</td>
				<td *ngIf='bookings_from_db[i].book'>{{bookings_from_db[i].seats}}</td>
				<td *ngIf='bookings_from_db[i].book'>{{bookings_from_db[i].unified_cost}}</td>
				<td class='warning width05' >{{bookings_from_db[i].book_status_description}}</td>
			</tr>
		</tbody>
	</table>
	<button *ngIf='bookings_from_db[i].show_msg_button'
		(click)="message(null, i, null)">
		Chat
		<span *ngIf='bookings_from_db[i].show_messaging_panel' > &#xfe3f;</span>
		<span *ngIf='!bookings_from_db[i].show_messaging_panel' > &#xfe40;</span>
	</button>
	<button (click)="update(booking,i)" *ngIf='bookings_from_db[i].show_update_button' 
		title='Change seats and unit price'>Update seats and price
	</button>
	<span *ngIf='bookings_from_db[i].update_msg!=null' class="info fade">
		{{bookings_from_db[i].update_msg}}
	</span>
	<button *ngIf='bookings_from_db[i].show_confirm_button' 
		(click)="action(booking,i, C.URL_CONFIRM)">Confirm
	</button>
	<button *ngIf='bookings_from_db[i].show_reject_button'
		(click)="action(booking,i, C.URL_CANCEL)">Reject
	</button>
	
	<button *ngIf='bookings_from_db[i].show_cancel_button' 
		(click)="action(booking,i, C.URL_CANCEL)">Cancel
	</button>
	<button *ngIf='bookings_from_db[i].show_finish_button'
		(click)="action(booking,i, C.URL_FINISH)">Finish
	</button>
	<span *ngIf='bookings_from_db[i].fail_msg!=null' class='error fade'>
		{{bookings_from_db[i].fail_msg}}
	</span>
	<app-message *ngIf='bookings_from_db[i].show_messaging_panel'
                        [book_id]="bookings_from_db[i].book.book_id"
                        [index]="i"
                        >
	</app-message>
		<div *ngIf='bookings_from_db[i].book'>
			<div *ngIf=' bookings_from_db[i].is_rider' class='c-lightgrey '>Driver</div>
			<div *ngIf='!bookings_from_db[i].is_rider' class='c-lightgrey '>Passenger</div>
			{{bookings_from_db[i].headline}} <br/>
 			<span class=warning *ngIf='!(bookings_from_db[i].sm_link)'>
				LinkedIn profile opted out
			</span> 
 			<span class='button clickable-text'  *ngIf='bookings_from_db[i].sm_link'>
				<a [href]='bookings_from_db[i].sm_link' target=_blank>LinkedIn Profile</a>
			</span>
		</div>
		<div *ngIf='bookings_from_db[i].is_booker'>
			<div *ngIf='bookings_from_db[i].trip.rider_ind'>
				<div class='from clickable-text' (click)='geo_mark(i)'> Passenger Pickup </div>
				{{bookings_from_db[i].trip.p1.display_name}}
				<div class='to clickable-text' (click)='geo_mark(i)'> Passenger Dropoff </div>
				{{bookings_from_db[i].trip.p2.display_name}}
			</div>
			<div *ngIf='! bookings_from_db[i].trip.rider_ind'>
				<div class='from clickable-text' (click)='geo_mark(i)'> Driver From </div>
				{{bookings_from_db[i].trip.p1.display_name}}
				<div class='to clickable-text' (click)='geo_mark(i)'> Driver To </div>
				{{bookings_from_db[i].trip.p2.display_name}}
			</div>
		</div>

		<div *ngIf='!bookings_from_db[i].is_booker'>
			<div *ngIf='bookings_from_db[i].book'>
				<div *ngIf='!bookings_from_db[i].trip.rider_ind'>
					<div class='from clickable-text' (click)='geo_mark(i)'> Passenger Pickup </div>
					{{bookings_from_db[i].book.p1.display_name}}
					<div class='to clickable-text' (click)='geo_mark(i)'> Passenger Dropoff </div>
					{{bookings_from_db[i].book.p2.display_name}}
				</div>
				<div *ngIf='bookings_from_db[i].trip.rider_ind'>
					<div class='from clickable-text' (click)='geo_mark(i)'> Driver From </div>
					{{bookings_from_db[i].book.p1.display_name}}
					<div *ngIf='bookings_from_db[i].book.p2.display_name'>
						<div class='to clickable-text' (click)='geo_mark(i)'> Driver To </div>
						{{bookings_from_db[i].book.p2.display_name}}
					</div>
				</div>
			</div>
			<div *ngIf='!bookings_from_db[i].book'>
				<div *ngIf=' bookings_from_db[i].trip.rider_ind'>
					<div class='from clickable-text' (click)='geo_mark(i)'> Passenger(me) Pickup </div>
					{{bookings_from_db[i].trip.p1.display_name}}
					<div class='to clickable-text' (click)='geo_mark(i)'> Passenger(me) Dropoff </div>
					{{bookings_from_db[i].trip.p2.display_name}}
				</div>
				<div *ngIf='!bookings_from_db[i].trip.rider_ind'>
					<div class='from clickable-text' (click)='geo_mark(i)'> Driver(me) From </div>
					{{bookings_from_db[i].trip.p1.display_name}}
					<div class='to clickable-text' (click)='geo_mark(i)'> Driver(me) To </div>
					{{bookings_from_db[i].trip.p2.display_name}}
				</div>
			</div>
		</div>

		<span class='button clickable-text' [innerHTML]="bookings_from_db[i].google_map_url"></span>
		<div class='c-lightgrey' >Description:</div>
		<div [innerHTML]="bookings_from_db[i].trip.description"></div>
    </form>
<p>
</div>
