$primary-color: #0088dd;
$green	:  #00ff00;
$red	:  #ff0000;
//$green	:  #99ff99;
//$red	:  #ff9999;

#main {
        /* use absolute so the main page can scroll */
        position: absolute;
        height: auto;
        width: 97%;
        top: 0rem;
        left: 0rem;
        overflow: visible;
        z-index:250;
        border: 0px solid #AAA;
        background-color: #fff;
        border-radius: 4px 4px 4px 4px;
        padding: 0.20rem;
        margin: 0.0rem, 0rem;
		&.map-controller {
        	background-color: rgba(0,0,0,0);
		}
}

body.flash {
	background-image: url("https://eoimages.gsfc.nasa.gov/images/imagerecords/57000/57723/globe_west_540.jpg");
}

textarea {
	width: 95%;
	&#description {
		height: 5rem;
	}
	&.review {
		height: 10rem;
	}
}

input {
	border: 1px solid $primary-color;
  	border-radius: 0.4rem;
	&[type="time"] {
		width: 8rem;
		font-size: 1rem;
  		background-color: white;
	}
	&[type="date"] {
		width: 8rem;
		font-size: 1rem;
  		background-color: white;
	}
	&[type="range"] {
		border: none;
		color : $primary-color ;
  		//background-color: $primary-color;
		&.zoom	{
			width : 4rem;
		}
	}
	&[type="text"] {
		width: 95%;
		font-size: 1rem;
	}
	&[type="email"] {
		width: 80%;
		font-size: 1rem;
	}
	&:invalid+span:after {
		content: '\2717';
		padding-left: 0.2rem;
		color: red;
	}

	&:valid+span:after {
		content: '\2713' ;
		padding-left: 0.2rem;
		color: green;
	}
}

.rTable {
  	display: table;
  	width: 100%;
}
.rTableRow {
  	display: table-row;
}
.rTableCell, .rTableHead {
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid #999999;
}
.rTableHeading {
  	display: table-header-group;
  	background-color: #ddd;
  	font-weight: bold;
}
.rTableFoot {
  	display: table-footer-group;
  	font-weight: bold;
  	background-color: #ddd;
}
.rTableBody {
  	display: table-row-group;
}

.odd {
        background-color: #fff;
}
.even {
        background-color: #fff;
}


table {
    border-collapse: collapse;
   	border: 1px solid $primary-color;
  	border-radius: 0.3rem;
	margin: 1px;
	&  th {
   		border: 1px solid $primary-color;
	}
	&  td {
   		border: 1px solid $primary-color;
   		text-align: center; 
   		vertical-align: middle;
	}
	&.no_border   {
		 //border: 1px solid $primary-color;
		 border: none  ;
		&  tr {
		 	border: none;
		}
		&  th {
		 	border: none;
		}
		&  td {
		 	border: none;
   			text-align: left; 
		}
	}
	& th {
		font-size: 0.8rem
	}
	&.center {
    	margin-left:auto; 
    	margin-right:auto;
	}
	& td.money {
   		text-align: right; 
	}
}

.error {
	background-color: $red ;
}
.warning {
	background-color: yellow;
}
.info {
	background-color: $green ;
}

.stitle {
	width:	80%;
	color: white ;
	background-color: $primary-color ;
}
.mapicon {
	text-align:center;
	vertical-align: middle;
}

.clickable-text {
  	cursor: pointer;
  	border-radius: 0.5rem;
	padding:0.0rem 0.2rem;
	position: relative;
	left: 0rem;
    &:hover {
		filter: hue-rotate(30deg);
		left: .1rem;
    }
    &:active {
		filter: hue-rotate(45deg);
    }
}

.hide-unhide {
        //use absolute to position child relative to its parent. 
		//parent must have absolue of fixed position */
        position: fixed;
        width: auto;
        top: 0.2rem ;
        left: 0.2rem;
}

button {
	background-color: #44e;
	color: white;
	border: 0 none;
  	border-radius: 1rem;
	margin:0.1rem;
	padding:0.3rem;
	position: relative;

	&:hover {
    	transition: all 150ms linear;
		left: .1rem;
		filter: hue-rotate(20deg);
  	}
  
  	&:active {
    	transition: all 150ms linear;
		filter: hue-rotate(40deg);
  	}
	&[disabled] {
		opacity: .5;
	}
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.fade {
  opacity: 0;
  animation-name: fadeInOut;
  animation-delay: 0s;
  animation-duration: 9s;
}


span.popup {
  height: 0;
  color: #fff;
  position: relative;
  cursor: pointer;

  &:after {
    content: attr(data-popuptext);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: 500ms ease;
    white-space: nowrap;
    max-height: 0;
  }
  
  &:hover:after {
    opacity: 1;
    top: 1.2em;
    max-height: 200px;
    padding: .4em;
  }
}

/*disable copy for buttons and menus*/
button, .topnav , .clickable-text , .button {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

.width05 {
	width: 5rem;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.button {
	background-color: #44e;
	color: white;
	& a {
		color: white;
	}
}

.star {
	font-size: 0.8rem;
	color: red;
	float:right;
	background-color: white;
	margin: 0.2rem 0.2rem;
	line-height	:0.8rem;  
}

.map_clickable {
	font-size: 0.8rem;
	color: $primary-color;
	float:right;
	background-color: white;
	margin: 0.2rem 0.2rem;
	padding: 0rem 0.2rem;
	line-height	:0.8rem;  
}

.from {
	background-color: $primary-color;
	color:	white;
	width:	80%;
	line-height	:1.2rem;  /* make bullseye bigger without changing line height*/
	&:before {
		content: '\25c9' ;
		color: $green;
    	font-size: 1.2rem;  /* make bullseye bigger */
	}
}
.to {
	background-color: $primary-color;
	color:	white;
	width:	80%;
	line-height	:1.2rem;  /* make bullseye bigger without changing line height*/
	&:before {
		content: '\25c9';
		color: $red;
    	font-size: 1.2rem;  /* make bullseye bigger */
	}
}

.data  { white-space: pre; }

.title  { 
	background-color: $primary-color;
	color:	white;
    font-size: 1.2rem;
	text-align:center;
	border-radius: 0.3rem 0.3rem 0rem 0rem ;
}


.flash{
	background-color: $primary-color;
	color: white;
	padding: 0.5rem  1rem;
    border-radius: 1rem;
}

.flash_inv{
	color: $primary-color;
	background-color: white;
	padding-left: 1rem;
}

.flash_check {
	color: green;
	font-size :2rem;
	padding	:0 0rem;
}

.centerFlex {
	display: flex;
	justify-content: center;
	align-items: center;   
	flex-direction: column;

	height:100%;
}

div.bar {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0rem 0rem ;
	height: 2px;
	width: 100%;
	max-height: 2px;
	font-size: 1px;
	line-height: 0;
	clear: both;
	border: none;
	border-top: 2px solid blue;
	border-bottom: 1px solid #ffffff;
	background-color: $primary-color;
}

img.ride_icon {
	width 	: 12rem;
	height	: 8rem
}

#abcd {
  background-image: url(assets/images/ride-icon.svg);
}

.detail {
	background-color: white;
	border-style: solid;
	border-color: $primary-color $primary-color $primary-color $primary-color ;
	border-width: 2px 1px 1px 3px;  //use px not rem.  rem will leave a tiny white area
	margin: 0.2rem 0rem 0.0rem 0rem;
	border-radius: 0.5rem;
	padding: 0rem 0rem 0rem 0rem;
	box-shadow: -0.2rem 0.2rem 0.2rem #ccc;
}

.mat-checkbox-frame{border-color:$primary-color}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: $primary-color !important;
}

.dropdown {    
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
	display: inline-block;    
	z-index:500;
	margin:0rem;
	border: 1px solid red;
	//float:right;



    /*overflow: visible;
    width: auto;
    z-index:500;
    border: 1px solid #AAA;
    font-size: 1rem;
    background-color: #eee;
    border-radius: 0.4rem ;
    padding: 0rem;
*/


	&:hover	{
		& .dropdown-content {  
        	display: block;  
    	}
	}
	& .dropbtn {  
    	//background-color: #4CAF50;    
		//color: white;    
		padding: 0.5rem;    
		border: none;    
		&:hover {
        	//background-color: red;
		}
		
	}    

	& .dropdown-content {    
		display: none;    
		//position: absolute;    
		//background-color: #f1f1f1;  
    	//min-width: 160px;  
   // 	box-shadow: 0 px 8 px 16 px 0 px rgba(0, 0, 0, 0.2);  
		& a {  
        	//color: black;  
        	padding: 12 px 16 px;  
        	text-decoration: none;  
        	display: block;  
			&:hover {  
        		//background-color: #ddd;  
				color: white;
    		}
    	}
	}
}    

.grid {
	display: grid;
	border: 1px solid $primary-color;
    border-radius: 0.5rem;
	grid-gap:1px;					// cell border
    background-color: $primary-color ;

	&.cols_2 {
		grid-template-columns: auto auto;
	}
	& >  .span_2 {
        grid-column: span 2;
	}
	& > * {
		background-color: white;
    	//border-radius: 0.5rem;
	}
}

.th {
	font-size :	0.8rem;
  	font-weight: bold;
}

.no_border	{
	border: none;
}
    
