html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: helvetica, roboto, sans-serif;
	color: black;
	font-size: 1rem;
	/*line-height: 1.3rem;*/
}


dl, dt, dd , div, span, a {
	margin: 0rem;
	padding: 0rem;
}

span {
/* needed for line-height to work */
	/*display:inline-block;*/
}

dd {
	margin-left: 1rem;
}


a {
	text-decoration: none;
	font-weight: normal;
	color: black;
	&:hover {
		//color: blue;
	}
}

div.toggle, *[show=false] {
	display: none;
}

/*
.show {
	display : block;
}
*/
.noshow {
	display : none;
}

div.center {
	text-align:center
}
div.centerblock {
/* use margin: auto to center a div */
	margin: auto;
}

.f08 {
	font-size: 0.8rem;
}

.f12 {
	font-size: 1.2rem;
}

.f15 {
	font-size: 1.5rem;
}
.f18 {
	font-size: 1.8rem;
}
